<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chats</title>
  </head>
  <body>
    <div>
      <% for (const chat of chats) { %>
      <div
        class="chat"
        style="
          display: inline-block;
          background-color: rgb(51, 51, 102);
          width: 16rem;
          border-radius: 1rem;
          mix-blend-mode: difference;
          text-align: center;
        "
      >
        <p><%- chat.message %></p>
        <a href="/chats/<%-chat._id %>" style="color: aliceblue">show</a>
      </div>
      <% } %>
    </div>
  </body>
</html>
