<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
  </head>
  <body>
    <div
      style="
        display: inline-block;
        background-color: rgb(51, 51, 102);
        width: 16rem;
        border-radius: 1rem;
        mix-blend-mode: difference;
        text-align: center;
      "
    >
      <h3><%- chat._id %></h3>
      <p><%- chat.message %></p>
    </div>
  </body>
</html>
